
#heading_head{
text-align: center;margin-top: 60px;font-family: Harrington;font-size: 48px;color: gray;
}


#sign_in_panel{

height: 240px;
width:390px;
margin-left: 600px;
margin-top: -140px;
margin-bottom: 400px;

}

#body{
    background-image: url("http://i.stack.imgur.com/1Tzky.png");
    background-size: cover;
    background-repeat: no-repeat ;

}
#account_signin_panel{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sign_in_panel_body{
background-color: whitesmoke;
    color: black;

}

#heading{
  text-align: center;margin-top: 60px;font-family: Harrington;font-size: 48px;color: gray;

}
#account_header{
    text-align: center;margin-top: 20px;font-family: Harrington;font-size: 48px;color: gray;padding-bottom: 10px;
}
#index_page_header{


    font-family: Harrington;
    font-size: 48px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(" background-image: url("http://i.stack.imgur.com/1Tzky.png");");
text-align: center;

}
#panelfooter{
    font-size: x-small;
    text-align: center;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  letter-spacing: 2px;

}

.navbar-brand {
    font-family:"Harrington";
    font-size:xx-large;
}

#index_page_tagline{
    text-align: center;
    font-size: 48px;
    color: grey;
    font-family: Harrington;

}

#taglinedescription{
    text-align: center;
    font-size: 28px;
    color: grey;
    font-family: Harrington;
}








