<!DOCTYPE html>
<html lang="en">
<head>
	<title>Easylooks</title>

	<meta charset="utf8">
    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'invoiceapp/style.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body id="body">

<div id="index_page_header">EASYlooKs<span style="font-size: medium"><sup>cloud</sup><sub>InvoiCing</sub></span></div>
  <nav class="navbar navbar-default" id="navbar">
         <div class="container-fluid">
           <div class="navbar-header">
            <a href="{% url 'invoiceapp:index' %}" class="navbar-brand">EASYlooKs <span class="glyphicon glyphicon-eye-open"></span></a>
           </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'invoiceapp:estimates' %}" class="active">Estimates<span class=""></span></a></li>
            <li><a href="{% url 'invoiceapp:raiseinvoice' %}">Raise Invoice <span class=""></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if logged %}
                <li><a href="{% url 'invoiceapp:logout' %}" class="active">Logout<span class=""></span></a></li>
            {% else %}
                <li><a href="{% url 'invoiceapp:login' %}" class="active">Login<span class=""></span></a></li>
            {% endif %}
            <li><a href="#" class="active">5 <span class=""></span></a></li>
            <li><a href="#" class="active">6 <span class=""></span></a></li>
        </ul>
    </div>
         </div>
  </nav>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

     {% if message %}
         <h3 style="text-align: center">{{ message }}</h3>
     {% endif %}

    <p id="index_page_tagline"><q>Collaboration</q> just got a whole lot easier</p>
    <p id="taglinedescription">Easylooks serves as your web accountant.<br>Raise Invoices,Manage accounts at a click of a Button.</p>
    <br>
    <img src="http://aysservices.com/imagesss/ays_services_bill_desk.jpg" class=" img img-circle" style="height: 230px;width: 230px;margin-left: 150px">
    <img src="http://us.123rf.com/450wm/janaka/janaka0808/janaka080800897/11355861-invoice.jpg?ver=6" class=" img img-thumbnail" style="height: 230px;width: 230px;margin-left: 10px">
    <img src="http://randomnumbergenerator.intemodino.com/en/images/screenshot_rng.png" class=" img img-rounded" style="height: 230px;width: 230px;margin-left: 10px">
    <img src="http://portfolio.visualfusiongraphicdesign.com/wp-content/uploads/2014/02/accounts-1-973x547.jpg" class=" img img-circle" style="height: 230px;width: 230px;margin-left: 10px">
     <dl>
            <dt style="font-size: 32px; margin-left: 90px; margin-top: 50px; ">Easylooks lets you:</dt>
            <dd style="font-size: 18px; margin-left: 90px; margin-top: 10px;"><span class="glyphicon glyphicon-hand-right"></span> Generate Invoices in form of PDFs</dd>
            <dd style="font-size: 18px; margin-left: 90px;  "><span class="glyphicon glyphicon-hand-right"></span> Keep Track of who all have paid</dd>
            <dd style="font-size: 18px; margin-left: 90px;  "><span class="glyphicon glyphicon-hand-right"></span> Keep Track of your Dues</dd>
    </dl>
<div class="row">
    <div class="panel panel-default" id="sign_in_panel">
        <div class="panel-heading" >
            <h3 style="font-family: Harrington">Sign in</h3>
        </div>
        <div class="panel-body" id="sign_in_panel_body">
             <div class="col-sm-12 col-md-6 col-lg-6">

                <form role="form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                 <div class="col-sm-offset-1 col-sm-10 ">
                                 <span class="text-danger small">{{ field.errors }}</span>
                                 </div>
                                  <label class="control-label col-sm-6 col-md-6" id="aaa" >{{ field.label_tag }}</label>
                                  <div class="col-sm-6 col-md-6"  >{{ field }}</div>
                            </div>
                        {% endfor %}
                            <div class="form-group">
                               <div class="col-sm-offset-6 col-sm-10">
                                   <button type="submit" class="btn btn-default">Submit</button>
                               </div>
                            </div>
                    </form>
                </div>
        </div>
    <div class="panel-footer" id="panelfooter">With this you agree with the company's policies</div>
    </div>
</div>
</body>
</html>