<!DOCTYPE html>
<html lang="en">
<head>
	<title>Easylooks</title>

	<meta charset="utf8">
    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'invoiceapp/style.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body id="body">
<div id="index_page_header">EASYlooKs<span style="font-size: medium"><sup>cloud</sup><sub>InvoiCing</sub></span></div>
  <nav class="navbar navbar-default" id="navbar">
         <div class="container-fluid">
           <div class="navbar-header">
            <a href="{% url 'invoiceapp:index' %}" class="navbar-brand">EASYlooKs <span class="glyphicon glyphicon-eye-open"></span></a>
           </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'invoiceapp:estimates' %}" class="active">Estimates</a></li>
            <li><a href="{% url 'invoiceapp:raiseinvoice' %}">Raise Invoice </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'invoiceapp:client' %}" class="active">Clients<span class=""></span></a></li>
            <li><a href="{% url 'invoiceapp:logout' %}" class="active">Logout<span class=""></span></a></li>
            <!--<li><a href="{% url 'invoiceapp:login' %}" class="active">Login<span class=""></span></a></li> -->
        </ul>
    </div>
         </div>
  </nav>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="container-fluid">
{% if message %}
  <h3 style="text-align: center;margin-top: 40px">{{ message }}</h3>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Cost</th>
            <th>Raised on</th>
			<th>Status</th>
			<th> Amount Paid</th>
        </tr>
    </thead>
    <tbody>
      {% for object in objects %}
          <tr>
            <td>{{ object.raised_by }}</td>
            <td>{{ object.cost }}</td>
            <td>{{ object.date_created }}</td>
			<td>
                  {% if object.cost == 0 %}
                       paid
                  {% else %}
                       unpaid
                  {% endif %}
            </td>
			<td>
              <form action = "{% url 'invoiceapp:changestatus' object.id %}" method="post">
                  {% csrf_token %}
                  <input type="text" name="amount" maxlength="15"/>
                  <input type="submit" value="Submit"/>
              </form>
          </td>
          </tr>
      {% endfor %}

    </tbody>
</table>


</body>

</html>



















